.container {
  width: 80%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
button {
  position: fixed;
  margin-left: -65px;
  padding: 10px;
  box-shadow: 1px 1px 5px 1px lightgray;
  display: inline-block;
  border-radius: 13px;
  border: 3px solid #fff;
}
button:hover {
  cursor: pointer;
}
.launch {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  box-shadow: 1px 1px 10px 1px lightgray;
  margin-bottom: 20px;
  padding: 1em 2em;
}
.launch div {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  justify-items: center;
  grid-column: span 2;
  column-gap: 2em;
}
.launch div:first-child {
  grid-column: 1 / -1;
}
.launch span {
  color: gray;
}
.launch img {
  width: 100%;
}
